html, body{
  overflow-x: hidden;
}
body {
  font-family: 'Halant', serif;
  color: #223A49;
}
h1, h2, h3 h4, h5, h6 {
  font-family: 'ABeeZee', sans-serif;
}
h2 {
  font-size: 28px; 
  font-weight: normal;
  margin-bottom: 5px;  
}
p {
  font-size: 16px; 
  line-height: 19px; 
  font-weight: 100;
}


/* Grid */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15 px; 
  padding-right: 15 px;
  position: relative;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%; 
  float: left; 
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/* Media Queries */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Create an extra-large media query to target TV sets, 
and change the attributes of the text elements within the hero section.*/

/* Since the tv media type has been deprecated accoring to w3schools, 
I've used my 32 inch HD TV screen in my home for the example below.*/

/* Using http://whatsmyscreenresolution.com, my browser window resolution is and 2166 x 1100 when hooked directly into my HD TV. */

/*I've increased the original sizes of the text elements in the hero by 2-3 times the original size.*/


@media (min-width: 2100px) {
  header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 45px;
}


header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 32px;
}

header .hero h1 {
  font-size: 96px;
  font-weight: normal;
  margin: 95px 0 0;
}

header .hero p {
  font-size: 44px;
  line-height: 26px;
  font-weight: 100;
  margin: 20px 0 80px;
}

}

/* Header */

header {
  color:#FFFFFF;
  background: #F2F6F1;
  /* Gradient: */
background-image: linear-gradient(-180deg, #2FA49A 0%, #156B61 100%);
background-image: linear-gradient(154deg, #156B61 6%, rgba(111,209,134,0.80) 100%);
}

header nav {
  padding:1em 0;
}

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin:0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
}

header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2x solid #FFFFFF;
  border-radius: 4px;
}

header nav ul > li.btn-outline:hover {
  background: #FFFFFF;
}

header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav ul > li > a:hover {
  color: #156B61;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover {
  color: #156B61;
}

header .hero {
  text-align: center;
  display: block;
  position: relative;
}

header .hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 95px 0 0;
}

header .hero p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin: 10px 0 40px;
}

header .hero img {
  display: block;
  margin: 3em auto 0;
}

/* Buttons */

.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #6FD186;
  border: 2px solid #6FD186;
  box-shadow: 0px 2px 0px 0px #156B61;
}

/* Benefits */
.benefits {
  text-align: center;
  display: block;
  position: relative;
}

.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}

.benefits ul li {
  list-style-type: none;
  display: inline-block;
}

.benefits i {
  color: #223A49;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}

.benefits h2 {
  color: #223A49;
}

/* Pricing */

.pricing {
  background: #BFF1CB url("") top center no-repeat;
  background: url() top center no-repeat, linear-gradient();
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}

.pricing ul li {
  list-style-type: none;
  text-align: center;
}

.box {
  padding: 0 15px 15px;
  background: #F2F6F1;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;
}

.box.middle {
  min-height: 485px;
  margin-top: 0px;
}

.box h3 {
  font-family: "ABeeZee", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #223A49;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
}

.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 10px 0px 10px;
  color: #7CC3CB;
}

.box h4 span.month {
  font-family: "ABeeZee", sans-serif;
  font-weight: 100;
  color: #7CC3CB;
  font-size: 20px;
  vertical-align: middle;
}

.box ul li {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 100;
  text-align: center;
}

.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.small {
  font-size: 14px;
  color: #223A49;
  line-height: 15px;
  font-style: italic;
  text-align: center;
}

/* Testimonials */

.testimonials {
  padding: 4em 0;
  text-align: center;
  color: #223A49;
}

.testimonials h2{
  color: #223A49;
}

.testimonials ul li {
  list-style-type: none;
}

.testimonials blockquote {
  color: #FFFFFF;
  text-align: left;
  font-style: italic;
  background: #223A49;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0;
}

.testimonials blockquote:after {
  top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #223A49;
   border-width: 10px;
   margin-left: -10px;

}

.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 20px 10px 0 0;
}

.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 13px;
  font-style: bold;
  margin-top: 30px;
}

.staggered li {
  margin-top: 20px;  
}